* {
    box-sizing: border-box;
}
body {
    background: #f69a73;
}
h2 {
    margin-top: 15px;
    margin-bottom: 15px
}
.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 25px;
}
.form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
.form-inner {
    padding: 50px;
}
.form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
div:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
}
.form-inner input[type="radio"] {
    margin-top: 10px;
    background: #f69a73;
    border: 2px solid #999;
    color: white;
    font-size: 14px;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    outline: none;
}
label {
    margin-right: 15px;
    line-height: 38px;
}
label {
    cursor: default;
}
.form-inner input[type="reset"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
.form-inner input[type="submit"] {
    margin-top: 10px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
.form-inner textarea {
    resize: none;
}
.select-style {
    position: relative;
    width: 300px;
    margin: 20px 0;
    border: 1px solid #d06d43;
    border-radius: 7px;

}
.select-style:hover {
    box-shadow: 0px 0px 3px #f69a73;
}
.select-style select {
    width: 300px;
    height: 28px;
    padding: 0 20px 0 7px;
    background: transparent;
    border: 0;
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;       /* remove arrow FF     */
}
input:required:invalid {
    border:1px solid red;
}
select:required:invalid {
    border:1px solid red;
}