# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1_Course_Project\Kontrol_Job_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
